<!DOCTYPE HTML>
<html>
    <head>
        <title>FirstAlert</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Stylesheets -->
        <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
        <!-- Libraries -->
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery-3.1.1.js') }}"></script>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <!-- Bootstrap Imports -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            window.setWait = false;
            window.setInterval(function() {
                var timestamp = Math.floor(Date.now());
                document.getElementById("update1").src="http://10.24.88.66/html/cam_pic.php?time=" + timestamp;
            }, 100);

            window.setInterval(function(){
                var timestamp = Math.floor(Date.now());
                document.getElementById("imptUpdate").src="http://10.24.88.66/html/cam_pic.php?time=" + timestamp;

            }, 5000)

            window.setInterval(function() {
                fileSizeURL = "/openIssues";
                jsonString = httpGet(fileSizeURL);
                var fileInfo = JSON.parse(jsonString);
                console.log(fileInfo.length)
                if (fileInfo.length > 0 && setWait == false) {
                     setWait = true;
                    danger();
                }
            }, 400);

            window.setInterval(function() {
                var timestamp = Math.floor(Date.now());
                document.getElementById("update2").src="http://10.25.213.197/cam_pic.php?time=" + timestamp;
            }, 100);

            function danger(){

                modal.style.display = "block";
                $('#alert').animate({width: "100%"}, 200 );
                $('header').css('background', 'red');document.getElementById("information").innerHTML = "<b><center>This situation needs your attention</center></b>";
                document.addEventListener("keypress", function(event) {
                        if (event.keyCode == 121) {
                            // This is Y
                            clearIssue();
                            return
                        }
                    })
                document.addEventListener("keypress", function(event) {
                        if (event.keyCode == 110) {
                            // This is N
                            clearIssue();
                            return
                        }
                    })
            }
            function httpGet(theUrl)
                // The network request grabs the json containing mp3 structure
                {
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
                    xmlHttp.send( null );
                    return xmlHttp.responseText;
                }
            function clearIssue(){
                setWait = false;
                fileSizeURL = "/clearAllIssues";
                httpGet(fileSizeURL);
               $('header').css('background', '#4696e5');document.getElementById("information").innerHTML = '<h1><a href="#">Welcome to FirstAlert!</a></h1><p>Application is listening...<br></p>';
            }

        </script>
        <style>
            #header .image.phone {
            padding-right: 10px !important;
            }
        </style>
    </head>
    <body id="top">


                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                        <span class="close">&times;</span>
                        <img id="imptUpdate" src="http://10.24.88.66/html/cam_pic.php?time=0" style="display:table-cell; vertical-align:middle; text-align:center; opacity: 0.8; height: 95% !important;"></img>
                      </div>

                    </div>
        <section class="content">
            <header id="header">
            <!--Alert-->
            <svg id="alert" width="0%" height="500" viewBox="130 50 400 350">
                <path fill="none" d="M0 0h700v400H0z"/>
                <defs>
                    <linearGradient gradientUnits="objectBoundingBox" id="a" x1="0%" y1="0%" y2="0%">
                        <stop offset="0" stop-color="#f45b69"/>
                        <stop offset="100%" stop-color="#f4815b"/>
                    </linearGradient>
                </defs>
                <circle cx="335" cy="197" r="126.59" fill="none" stroke="url(#a)" stroke-width="25"/>
                <circle cx="332" cy="340" r="40" transform="matrix(.62739 0 0 .62739 127.208 54.66)" fill="url(#a)"/>
                <rect x="310" y="119" width="50" height="100" rx="30" ry="22" transform="matrix(.97143 0 0 1.21667 10.566 -38.643)" fill="url(#a)"/>
            </svg>
            <!---->
                <div id="information" class="content">
                    <h1><a href="#">Welcome to FirstAlert!</a></h1>
                    <p>Application is listening...<br /></p>
                </div>
                <span id="test">
                <div id="num1" class="image phone">
                    <div class="inner"><img id="update1" src="http://10.24.88.66/html/cam_pic.php?time=0" height="320"></img></div>
                </div>
                <div id="num2" class="image phone">
                    <div class="inner"><img id="update2" src="http://10.25.213.197/cam_pic.php?time=0" height="320"></img></div>
                </div>
                </span>
            </header>



<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
</head>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
//var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
//btn.onclick = function() {
  //  modal.style.display = "block";
//}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
    clearIssue();
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
        clearIssue();
    }
}
</script>


        </section>
    </body>
</html>
