<!DOCTYPE HTML>
<html>
    <head>
        <title>FirstAlert</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Stylesheets -->
        <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

        <!-- Libraries -->
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
        <script>
            window.setInterval(function() {
                var timestamp = Math.floor(Date.now());
                document.getElementById("update1").src="http://10.24.88.66/html/cam_pic.php?time=" + timestamp;
            }, 500);

            function danger(){
                $('header').css('background', 'red');document.getElementById("update1").height=1000;document.getElementById("update1").width=1000;document.getElementById("information").innerHTML = "Danger!";
            }

        </script>
        <style>
        #header .image.phone {
            padding-right: 10px !important;

        }
        </style>
    </head>
    <body id="top">
        <section class="content">
            <header id="header">
                <div id="information" class="content">
                    <h1><a href="#">Welcome to FirstAlert!</a></h1>
                    <p>Application is listening...<br />Check back for updates...</p>
                </div>
                <div class="image phone">
                    <div class="inner"><img id="update1" src="http://10.24.88.66/html/cam_pic.php?time=0" height="320"></img></div>
                </div>
                <div class="image phone">
                    <div class="inner"><img id="update2" src="http://10.24.88.66/html/cam_pic.php?time=0" height="320"></img></div>
                </div>
                <div class="image phone">
                    <div class="inner"><img id="update3" src="http://10.24.88.66/html/cam_pic.php?time=0" height="320"></img></div>
                </div>
            </header>
        </section>
    </body>
</html>
